body {
    margin: 1em;
}
.card {
    margin-bottom: 1em;
}
.thumbnail {
    margin-bottom: 2em;;
}
.list-group {
    margin-bottom: 2em;
}
.disable-hover {
    pointer-events: none;
}
.link-item {
    list-style-type: none;
    padding: 15px 15px;
    display: block;
    color: #FEBB00;
    text-align: center;
}
.link-item:hover {
    border: 2px solid #ddd;
    background-color: #FEBB00;
}

html.can-touch .link-item:hover{ /* disable hover effect when input is touch */
    background-color: #C4819A;
}

html.can-touch .link-item:active{ /* disable hover effect when input is touch */
    background-color: #C4819A;
}

.fa {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #C4819A;
        color: dark;
    }

    .card-header {
        background-color: #1A2120;
    }
    .card-body {
        background-color: #1A2120;
    }
    .jumbotron {
        background-color: #FEBB00;
    }

    .list-group-item {
        background-color: #1A2120;
        border-color:  #FEBB00;
    }

    html.can-touch .link-item:hover{ /* disable hover effect when input is touch */
        background-color: #FEBB00;
    }
    
    html.can-touch .link-item:active{ /* disable hover effect when input is touch */
        background-color: #FEBB00;
    }

}
